body{
    font-family: 'Poppins', sans-serif;  
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
} 

.nav{
   text-align: center;
   background-color: rgb(247, 110, 60);
   padding: 1% 10%;
   box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4);
   font-weight: 1000;
  font-size: larger;
  color: rgb(73, 69, 69);
}
.nav a{
    text-decoration: none;
    color: white;
    padding-left: 80px;
}
.banner{
    width:100%;
}

.flex{
    display:flex;
}
h3{
    color: rgb(116, 110, 110);
 }
 h2 {
     color:gray;
     font-weight: bolder;
     font-size: xx-large;
 }
.half-width{
    width: 50%;
    padding-left: 10%;
    margin-top:50px ;
    font-size: 26px;
}
.half-width img{
    width: 87%;
}
.color{
    color: orange;
    
}

.click{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 30px;
}
p{
    font-size:80%;
}
.me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    /* padding: 90px 20px; 
   
     width: 100%; */
}
.me img{
    width: 100%;
}
.recipie{
    text-align: center; 
     margin: 1% 20%;
}


.box{
    margin: 20px 70px;
    padding: 40px 5px;
    box-shadow: 2px 2px 25px rgba(128, 128, 128, 0.726);
    border-radius: 29px;
}
#first-food-pic{
    float: left;
}
#second-food-pic{
    margin: 0 auto;
}
#third-food-pic{
    float: right;
}
.food-items{
  width:33.33%

}
.optional h1{
    font-size: xx-large;
    font-weight: 6%;
    font-size: 40px;
    margin-bottom: -13px;
}
.optional{
    margin-right: 10%;
    margin-left: 9%;

}

footer{
    text-align: center;
    background-color:black ;
    margin: 50px auto;
    position:absolute;
    width: 100%;
    /* width: 100%;
    height: 100%; */
}
footer p{
    color: rgb(185, 177, 177);
    font-size: x-small;
    font-weight: 200;
    
}

